

@* not within the grid *@
<div class="container">
    <div class="row">
        <div class="input-field col s12">
        <h4>
            Name und (optional) Platznummer eingeben.
            @* Enter your name and seat number to start playing *@
        </h4>
        <h6> Die Platznummer bestimmt die Spielerreihenfolge.</h6>
         </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input id="player_name" type="text" class="validate" maxlength="15" @bind="@username" >
            <label for="player_name">Spielername</label>
            @* <label for="player_name">Player name</label> *@
        </div>
        <div class="input-field col s4">
            <input id="seat_number" type="text" class="validate" maxlength="1"  @bind="@seatnumber" >
            <label for="seat_number">Platznummer</label>
            @* <label for="seat_number">Seat number</label> *@
        </div>
        <div class="input-field col s2">
            <a class="waves-effect waves-light btn"  @onclick="@Joining">Teilnehmen!</a>
            @* <a class="waves-effect waves-light btn"  @onclick="@Joining">Join!</a> *@
        </div>
    </div>
    @if (message != null)
    {
    <div class="row">
        <div class="invalid-feedback">@message</div>
        <small id="emailHelp" class="form-text text-muted">@message</small>
    </div>
    }  
</div>

@code {
    [Parameter]
    public string message { get; set; }
    [Parameter]
    public string username { get; set; }
    [Parameter]
    public string seatnumber { get; set; }
    [Parameter]
    public EventCallback<BlazorChatSample.Shared.Player> Join { get; set; }

    private async Task Joining()
    {
        // check username is valid
        if (string.IsNullOrWhiteSpace(username))
        {
            message = "Please enter a name";
            return;
        };
        // check username is valid
        if (string.IsNullOrWhiteSpace(seatnumber))
        {
            seatnumber = "10"; // sitting at end
            @* message = "Please enter a seat number"; *@
            @* return; *@
        };
        try{int.Parse(seatnumber);}
        catch{
            message = "Please enter a seat number";
            return;
        }

        BlazorChatSample.Shared.Player p = new BlazorChatSample.Shared.Player();
        p.name = username;
        p.seatnumber = int.Parse(seatnumber);

        await Join.InvokeAsync(p);
    }
}