<div id="scrollbox" width="50%">
<style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
}
div.galleryselected {
  margin: 5px;
  border: 3px solid #c22;
  float: left;
}
.grid-container {
  display: grid;
  grid-template-columns: 26% 12% 12% 12% 12% 26%;
  gap: 20px;
  padding: 10px;
  justify-content: center;
}
div.desc {
  padding: 5px;
  text-align: center;
}
</style>
    @if(showLastTrick){
        <div>Letzter Stich:</div>
        <div class="grid-container">
            <div></div> 
            @for (var i = 0;i<lastTrick.Count;i++)
            { 
                var cardIdx = i;
                <div class="gallery"> <img  src="cards/@(lastTrick[i].ToString()).jpg" style="width:100%" /> </div>
            } 
            <div></div> 
        </div>
        <br />
        <br />
    }

<div>
    @if(allPlayedCards.Count > 0){
        <div>    gesamter Spielverlauf:</div>
        @for (var i = 0;i<(allPlayedCards.Count/4);i++)
        { 
            var stich = i;
            var stichlabel = stich+1;
            <p>    @stichlabel. Stich (@allPlayedCardsNames[i*6+4], @allPlayedCardsNames[i*6+5]): </p> 
            <div class="grid-container">
            <div></div> 
            @for (var j = 0;j<4;j++)
            { 
                var cardIdx = 4*stich+j;
                if(allPlayedCardsNames[i*6+j] == allPlayedCardsNames[i*6+4])
                {
                    <div class="galleryselected">
                        <input type="image" src="cards/@(allPlayedCards[cardIdx].ToString()).jpg" style="width:100%"  /> 
                        <div class="desc">@allPlayedCardsNames[i*6+j]</div>
                    </div>
                }
                else {
                    <div class="gallery">
                        <input type="image" src="cards/@(allPlayedCards[cardIdx].ToString()).jpg" style="width:100%"  /> 
                        <div class="desc">@allPlayedCardsNames[i*6+j]</div>
                    </div>
                }
            }
            <div></div> 
            </div>
        } 
    } 
</div> 

</div> 


@code {
    [Parameter]
    public bool showLastTrick { get; set; }
    
    [Parameter]
    public List<BlazorChatSample.Shared.Card> lastTrick { get; set; }
    [Parameter]
    public List<BlazorChatSample.Shared.Card> allPlayedCards { get; set; }
    [Parameter]
    public List<string> allPlayedCardsNames { get; set; }

}