<div class="grid">
      <div class="buttonrow">
        <a class="waves-effect waves-light btn-large">Deal w/ Nines</a>
        <a class="waves-effect waves-light btn-large">Deal w/o Nines</a>
      </div>

      <div class="top">
        @for (var i = 0;i<cardsTop.Count;i++)
        { 
            var cardIdx = i;
            <img class="playing-card" src="cards/green_back.jpg" />
        }
      </div>
      <div class="left">
        @for (var i = 0;i<cardsLeft.Count;i++)
        { 
            var cardIdx = i;
            <img class="rot-playing-card" src="cards/green_back.jpg" />
        }
      </div>

      <div class="middle">
        Middle
      </div>
      <div class="right">
        @for (var i = 0;i<cardsRight.Count;i++)
        { 
            var cardIdx = i;
            <img class="rot-playing-card" src="cards/green_back.jpg" />
        }
      </div>
      <div class="bottom">
        @for (var i = 0;i<cardsBottom.Count;i++)
        { 
            var cardIdx = i;
            @if(activelyPlaying){
                <img class="my-card" src="cards/@(cardsBottom[i].ToString()).jpg" @onclick="@(e => ClickCard(cardIdx))" />
            }
            else
            {
                <img class="my-card" src="cards/green_back.jpg" />
            }
        }
      </div>
      <div class="buttonrow">
        <a class="waves-effect waves-light btn-large">Claim</a>
        <a class="waves-effect waves-light btn-large">Show last trick</a>
        @if(tradingPartner == null) {
            @for (var i = 0;i<3;i++)
            { 
                var pId = i;
                <a class="waves-effect waves-light btn-large" @onclick="@(e => Trading(playerNames[pId]))">
                    Trade Cards with @playerNames[pId]
                </a>
            }
        }
        else
        {
            <a class="waves-effect waves-light btn-large" @onclick="@(e => Trading(""))">
                Stop trading
            </a>
        }
      </div>
</div> 
 
 
  @* <div class="itemLeft">
        <div class="cardcontainerleft">
        <div class="containersmall">
        @playerStrings[1]
        @for (var i = 0;i<cardsLeft.Count;i++)
        { 
            var cardIdx = i;
            <img class="card" src="cards/green_back.jpg" />
        }
        </div>
        </div>
  </div>
  <div class="itemRight">
        <div class="cardcontainerright">
        <div class="containersmall">
        @playerStrings[3]
        @for (var i = 0;i<cardsRight.Count;i++)
        { 
            var cardIdx = i;
            <img class="card" src="cards/green_back.jpg" />
        }
        </div>
    </div>
  </div>
  <div class="itemTop">
      <div class="cardcontainertop">
        <div class="containersmall">
        @playerStrings[2]
        @for (var i = 0;i<cardsTop.Count;i++)
        { 
            var cardIdx = i;
            <img class="card" src="cards/green_back.jpg" />
        }
        </div>
        </div>
  </div>
  <div class="itemBottom">
    <div class="cardcontainer">
        @playerStrings[0]
            @for (var i = 0;i<cardsBottom.Count;i++)
            { 
                var cardIdx = i;
                @if(activelyPlaying){
                    <div class="card">
                        <input type="image" src="cards/@(cardsBottom[i].ToString()).jpg" @onclick="@(e => ClickCard(cardIdx))" />
                    </div>
                }
                else
                {
                    <img src="cards/green_back.jpg" width=20%  />
                }
            }
    </div>

  </div> *@

<div class="cardTable">
<div class="cardTop">
@if(cardsTable.Keys.Contains(playerNames[2])){
    <img src="cards/@(cardsTable[playerNames[2]].ToString()).jpg"  />
}
</div>
<div class="cardLeft">
@if(cardsTable.Keys.Contains(playerNames[1])){
    <img src="cards/@(cardsTable[playerNames[1]].ToString()).jpg"  />
}
</div>
<div class="cardRight">
@if(cardsTable.Keys.Contains(playerNames[3])){
    <img src="cards/@(cardsTable[playerNames[3]].ToString()).jpg"  />
}
</div>
<div class="cardBottom">
@if(cardsTable.Keys.Contains(playerNames[0])){
    <input type="image" src="cards/@(cardsTable[playerNames[0]].ToString()).jpg"  @onclick="@(e => ClickCardTable())"/>
}
</div></div>




@* <div class="container">
    <div class="row">
        <div class="col">
        </div>

        <div class="col-sm">
            @playerStrings[2]
            <div class="container">
                @for (var i = 0;i<cardsTop.Count;i++)
                { 
                    var cardIdx = i;
                    <img class="card" src="cards/green_back.jpg" />
                }
            </div>
        </div>

        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
            @playerStrings[1]
            <div class="rotate">
                <div class="container">
                @for (var i = 0;i<cardsLeft.Count;i++)
                { 
                    var cardIdx = i;
                    <img class="card" src="cards/green_back.jpg" />
                }
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="container">
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col-sm">
                        <div class="cardtable">
                        @if(cardsTable.Keys.Contains(playerNames[2])){
                            <img src="cards/@(cardsTable[playerNames[2]].ToString()).jpg" width=50%  />
                        }
                        </div>
                    </div>
                    <div class="col">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="cardtable">
                        @if(cardsTable.Keys.Contains(playerNames[1])){
                            <img src="cards/@(cardsTable[playerNames[1]].ToString()).jpg" width=50%   />
                        }
                        </div>
                    </div>
                    <div class="col-sm">
                    </div>
                    <div class="col">
                        <div class="cardtable">
                        @if(cardsTable.Keys.Contains(playerNames[3])){
                            <img src="cards/@(cardsTable[playerNames[3]].ToString()).jpg"  />
                        }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col-sm">
                        <div class="cardtable">
                        @if(cardsTable.Keys.Contains(playerNames[0])){
                            <input type="image" src="cards/@(cardsTable[playerNames[0]].ToString()).jpg"  @onclick="@(e => ClickCardTable())"/>
                        }
                        </div>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>

        </div>
        <div class="col">
            @playerStrings[3]
            <div class="rotate">
                <div class="container">
                @for (var i = 0;i<cardsRight.Count;i++)
                { 
                    var cardIdx = i;
                    <img class="card" src="cards/green_back.jpg" />
                }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-sm">
            <div class="cardcontainer">
            @playerStrings[0]
                <div class="container">
                @for (var i = 0;i<cardsBottom.Count;i++)
                { 
                    var cardIdx = i;
                    @if(activelyPlaying){
                        <div class="card">
                            <input type="image" src="cards/@(cardsBottom[i].ToString()).jpg" @onclick="@(e => ClickCard(cardIdx))" />
                        </div>
                    }
                    else
                    {
                        <img src="cards/green_back.jpg" width=20%  />
                    }
                } 
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div> *@


@code {
    [Parameter]
    public List<BlazorChatSample.Shared.Card> cardsLeft { get; set; }
    [Parameter]
    public List<BlazorChatSample.Shared.Card> cardsTop { get; set; }
    [Parameter]
    public List<BlazorChatSample.Shared.Card> cardsRight { get; set; }
    [Parameter]
    public List<BlazorChatSample.Shared.Card> cardsBottom { get; set; }
    [Parameter]
    public Dictionary<string,BlazorChatSample.Shared.Card> cardsTable { get; set; }
    [Parameter]
    public bool activelyPlaying { get; set; }

    [Parameter]
    public string tradingPartner { get; set; }

    [Parameter]
    public List<string> playerStrings { get; set; }
    [Parameter]
    public List<string> playerNames { get; set; }

    [Parameter]
    public EventCallback<int> CardClicked { get; set; }
    [Parameter]
    public EventCallback<int> CardClickedTable { get; set; }

    [Parameter]
    public EventCallback<string> TradingEvent { get; set; }
    
    private async Task ClickCard(int idx)
    {
        if(activelyPlaying) {
            Console.WriteLine("clicked card " + idx.ToString() );
            Console.WriteLine(CardClicked.HasDelegate);
            await CardClicked.InvokeAsync(idx);
        }
    }

    private async Task ClickCardTable()
    {
        if(activelyPlaying){
            await CardClickedTable.InvokeAsync(0);
        }
    }

    private async Task Trading(string partner)
    {
        if(activelyPlaying){
            await TradingEvent.InvokeAsync(partner);
        }
    }
}
