@inherits IndexComponent
@page "/"
@inject NavigationManager navigationManager

<div class="sidebar">
    <div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">Doppelkopf</a>
        <button class="navbar-toggler" @onclick="@ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class=@(collapseNavMenu ? "collapse" : null) @onclick="@ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                @if(playing){
                    <NavLink class="nav-link"  @onclick="@(e => Dealing(true))">
                        Deal w/ Nines
                    </NavLink>
                    <NavLink class="nav-link"  @onclick="@(e => Dealing(false))">
                        Deal w/o Nines
                    </NavLink>
                    @if(GetPlayerBottom() == username){ // this player participates
                        <NavLink class="nav-link" @onclick="@Claiming">
                            Claim
                        </NavLink>
                        @if(!roundStarted) {
                            @if(gameState != null) {
                                @if(tradingPartner == null) {
                                    <NavLink class="nav-link" @onclick="@(e => Trading(GetPlayerLeft()))">
                                        Trade Cards with @GetPlayerLeft()
                                    </NavLink>
                                    <NavLink class="nav-link" @onclick="@(e => Trading(GetPlayerTop()))">
                                        Trade Cards with @GetPlayerTop()
                                    </NavLink>
                                    <NavLink class="nav-link" @onclick="@(e => Trading(GetPlayerRight()))">
                                        Trade Cards with @GetPlayerRight()
                                    </NavLink>
                                }
                                else
                                {
                                    <NavLink class="nav-link" @onclick="@(e => Trading(""))">
                                        Stop trading
                                    </NavLink>
                                }
                            }
                        }
                        @if(showLastTrick){
                            <NavLink class="nav-link" @onclick="@LastTrick">
                                Hide last trick
                            </NavLink>
                        }
                        else {
                            <NavLink class="nav-link" @onclick="@LastTrick">
                                Show last trick
                            </NavLink>
                        }
                    }
                }
            </li>

        </ul>
    </div>
</div>

<div class="main">
    <div class="top-row px-4">
        @if (playing)
        {
            <p>You are connected as <b>@username</b></p>
            @* @if(playerlist != null){
                <br /><p>On the server: @playerlist</p>
            } *@
            <button class="btn btn-sm btn-warning ml-md-auto" @onclick="@DisconnectAsync">Disconnect</button>
        }
    </div>

    <div class="content px-4">
        @if (!playing)
        {
           // NotPlaying.razor
        }
        else
        {
           // Playing.razor
        }
    </div>
</div>

@code {

}